@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Main Menu";
}
<div style="text-align: center;">
    <h1 style="font-size: 2.25rem;">Wybierz gre:</h1>
    <div>
        <button onclick="window.location.href='@Url.Action("Wordle", "Home")'" style="margin: 10px; padding: 10px 20px; font-size: 1.25rem;">Wordle</button>
        <button onclick="window.location.href='/Home/Scrabble'" style="margin: 10px; padding: 10px 20px; font-size: 1.25rem;">Scrabble</button>
        <button onclick="window.location.href='@Url.Action("Krzyzowka", "Home")'" style="margin: 10px; padding: 10px 20px; font-size: 1.25rem;">Krzyżówki</button>
        <button onclick="window.location.href='@Url.Action("ZgadywankiMenu", "Home")'" style="margin: 10px; padding: 10px 20px; font-size: 1.25rem;">Zgadywanki</button>
        <button onclick="window.location.href='@Url.Action("Wisielec", "Home")'" style="margin: 10px; padding: 10px 20px; font-size: 1.25rem;">Wisielec</button>
    </div>
</div>




