@{
    ViewData["Title"] = "Poziom Trudności";
}

<style>
    .con {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100vh;
    }

    .frame {
        border: 2px solid #000;
        padding: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    h1.title {
        margin-top: 20px;
        font-size: 2em;
    }

    .poziom-buttons {
        display: flex;
        justify-content: center;
    }

        .poziom-buttons .btn {
            margin: 10px;
        }

    .frame h1 {
        font-size: 1.5em;
        font-weight: bold;
    }

</style>


<div class="con">
    <div class="frame" id="ramkaPoziomu">
        <h1>Wybierz poziom trudności:</h1>

        <div class="poziom-buttons">
            <button id="latwy" class="btn btn-primary" onclick="wybierzPoziom('latwy')">Łatwy</button>
            <button id="sredni" class="btn btn-primary" onclick="wybierzPoziom('sredni')">Średni</button>
            <button id="trudny" class="btn btn-primary" onclick="wybierzPoziom('trudny')">Trudny</button>
        </div>
    </div>

    <div id="licznik"></div>

    <div id="kontener">
        <div id="ramkaWybranychSlow" style="margin-bottom: 10px;">
            <h2 class="tytul">Wpisywane słowa:</h2>
            <div id="wybraneLitery" style="margin-bottom: 10px;"></div>
        </div>

        <div id="wybraneLitery"></div>
        <input type="text" id="wpisywaneSłowo" readonly style="margin-bottom: 10px;">
        <button id="przyciskSprawdz" onclick="sprawdz()">Sprawdź</button>

        <div id="klawiatura" style="margin-top: 10px;">
            <button onclick="wybierzLitere('K')">K</button>
            <button onclick="wybierzLitere('O')">O</button>
            <button onclick="wybierzLitere('T')">T</button>
            <button onclick="wybierzLitere('A')">A</button>
        </div>


        <script>
            var wybraneLitery = [];

            function wybierzLitere(litera) {
                wybraneLitery.push(litera);
                aktualizujWpisywaneSłowo();
            }

            function aktualizujWpisywaneSłowo() {
                var wpisywaneSłowo = document.getElementById('wpisywaneSłowo');
                wpisywaneSłowo.value = wybraneLitery.join('');
            }
        </script>



        <div id="ramkaPonumerowanychSlow" style="margin-top: 20px;">
            <h2 class="tytul">Słowa do odgadnięcia:</h2>

        </div>
        <div id="error" class="error" style="display: none;">Błędne słowo!</div>
    </div>
</div>


<script>
    var wybraneLitery = [];
    var poziomWybrany = false;

    var timer;
    var czasStartowy;


    function wybierzLitere(litera) {
        if (!poziomWybrany) {
            alert("Wybierz poziom trudności przed wprowadzeniem liter!");
            return;
        }

        wybraneLitery.push(litera);
        aktualizujWpisywaneSłowo();
    }

    function aktualizujWpisywaneSłowo() {
        var wpisywaneSłowo = document.getElementById('wpisywaneSłowo');
        wpisywaneSłowo.value = wybraneLitery.join('');
    }


    function wybierzPoziom(poziom) {
        switch (poziom.toLowerCase()) {
            case 'latwy':
                czasStartowy = 20 * 60;
                break;
            case 'sredni':
                czasStartowy = 15 * 60;
                break;
            case 'trudny':
                czasStartowy = 10 * 60;
                break;
            default:
                czasStartowy = 0;
        }
        poziomWybrany = true;
        rozpocznijGre();

        var ramkaPoziomu = document.getElementById('ramkaPoziomu');
        ramkaPoziomu.style.display = 'none';
    }

    function rozpocznijGre() {
        var licznik = document.getElementById('licznik');
        var czas = czasStartowy;

        function odliczanieCzasu() {
            var minuty = Math.floor(czas / 60);
            var sekundy = czas % 60;
            licznik.innerHTML = minuty + 'm ' + sekundy + 's';
            czas--;
            if (czas <= 0) {
                clearInterval(timer);
                licznik.innerHTML = 'Koniec czasu!';
            }
        }

        clearInterval(timer);
        odliczanieCzasu();
        timer = setInterval(odliczanieCzasu, 1000);
    }


</script>


