@{
    ViewData["Title"] = "Słowotok";
}

<style>
    #kontener {
        text-align: center;
        margin-top: 50px;
    }

    #ramkaWybranychSlow {
        width: 300px;
        margin: 0 auto;
        border: 1px solid black;
        padding: 10px;
        text-align: center;
    }

    #klawiatura {
        text-align: center;
        margin-top: 20px;
    }

    #przyciskSprawdz {
        margin-top: 20px;
    }

    #ramkaPonumerowanychSlow {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 1px solid black;
        padding: 10px;
        width: 200px;
        margin: 0 auto;
    }

    .slowo {
        margin-bottom: 5px;
        display: none;
    }

    .tytul {
        font-size: 14px;
    }

    .error {
        color: red;
    }

</style>

<h1>Wybrany poziom trudności: @ViewBag.PoziomTrudnosci</h1>



<div id="licznik"></div>

<script>
    var czasStartowy;

    switch ("@ViewBag.PoziomTrudnosci") {
        case "Łatwy":
            czasStartowy = 30 * 60;
            break;
        case "Średni":
            czasStartowy = 20 * 60;
            break;
        case "Trudny":
            czasStartowy = 10 * 60;
            break;
        default:
            czasStartowy = 0;
    }

    var licznik = document.getElementById('licznik');
    var czas = czasStartowy;
    var timer = setInterval(function () {
        var minuty = Math.floor(czas / 60);
        var sekundy = czas % 60;
        licznik.innerHTML = minuty + 'm ' + sekundy + 's';
        czas--;
        if (czas < 0) {
            clearInterval(timer);
            licznik.innerHTML = 'Koniec czasu!';
        }
    }, 1000);
</script>


<div id="kontener">
    <div id="ramkaWybranychSlow">
        <h2 class="tytul">Wpisywane słowa:</h2>
        <div id="wybraneLitery"></div>
    </div>

    <div id="klawiatura">
        <button onclick="wybierzLitere('K')">K</button>
        <button onclick="wybierzLitere('O')">O</button>
        <button onclick="wybierzLitere('T')">T</button>
        <button onclick="wybierzLitere('A')">A</button>
    </div>

    <button id="przyciskSprawdz" onclick="sprawdz()">Sprawdź</button>

    <div id="ramkaPonumerowanychSlow" style="margin-top: 20px;">
        <h2 class="tytul">Słowa do odgadnięcia:</h2>
        <div class="slowo" id="slowo1">1. tak</div>
        <div class="slowo" id="slowo2">2. kot</div>
        <div class="slowo" id="slowo3">3. kotka</div>
        <div class="slowo" id="slowo4">4. otka</div>
        <div class="slowo" id="slowo5">5. kato</div>
    </div>

    <div id="error" class="error" style="display: none;">Błędne słowo!</div>
</div>

<script>
    var wybraneLitery = [];
    var poprawneSlowa = ['tak', 'kot', 'kotka', 'otka', 'kato'];

    function wybierzLitere(litera) {
        wybraneLitery.push(litera);
        aktualizujRamke();
    }

    function aktualizujRamke() {
        var ramka = document.getElementById('wybraneLitery');
        ramka.innerHTML = "";
        wybraneLitery.forEach(function (litera) {
            ramka.innerHTML += litera + " ";
        });
    }

    function sprawdz() {

        console.log("Sprawdzam wpisane słowa...");


        var wpisaneSlowo = wybraneLitery.join('').toLowerCase();
        if (!poprawneSlowa.includes(wpisaneSlowo)) {
            var errorDiv = document.getElementById('error');
            errorDiv.style.display = 'block';
            setTimeout(function () {
                errorDiv.style.display = 'none';
            }, 2000);

            wybraneLitery = [];
            aktualizujRamke();
        } else {

            var slowa = document.querySelectorAll('#ramkaPonumerowanychSlow .slowo');
            slowa.forEach(function (slowo) {
                if (wpisaneSlowo === slowo.textContent.trim().split('. ')[1].toLowerCase()) {
                    slowo.style.display = 'block';
                }
            });

            wybraneLitery = [];
            aktualizujRamke();
        }
    }
</script>