h1.title {
    margin-top: 100px;
}
.btn {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    font-size: 1.25rem;
    color: #2C2C2C;
    background-color: #8A2BE2; /* Fioletowy kolor tła */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

    .btn:hover {
        background-color: #7B68EE; /* Ciemniejszy odcień fioletu podczas najechania */
        transform: scale(1.1);
    }

    .btn:active {
        background-color: #6A5ACD; /* Jeszcze ciemniejszy odcień fioletu podczas kliknięcia */
        transform: scale(0.95);
    }
