
.frame {
    border: 2px solid #000;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
}


h1.title {
    margin-top: 20px;
    font-size: 2em;
}

.poziom-buttons {
    display: flex;
    justify-content: center;
}

    .poziom-buttons .btn {
        margin: 10px;
    }

.frame h1 {
    font-size: 1.5em;
    font-weight: bold;
}

#klawiatura {
    margin-top: 20px;
    margin-bottom: 20px;
}

    #klawiatura button {
        margin: 5px;
        padding: 10px;
        font-size: 1em;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        margin-top: 10px;
        margin-bottom: 10px;
    }

#ramkaPonumerowanychSlow {
    margin-top: 20px;
}

.tytul {
    font-size: 1.2em;
    font-weight: bold;
}

.slowo {
    margin-bottom: 10px;
}

    .slowo input {
        font-size: 1em;
        padding: 5px;
    }

#punktyTable {
    margin-top: 20px;
    border-collapse: collapse;
    width: 200px;
}

    #punktyTable th, #punktyTable td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

/* Styl dla okna dialogowego o przegranej */
#lostModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Stylowanie okienka dialogowego */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.close {
    color: #aaa;
    position: absolute;
    top: 0;
    right: 10px;
    margin: 10px;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

/* Ramka czasu*/
#licznik {
    background-color: pink;
    color: white;
    padding: 20px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}


#prostokatL {
    flex: 1;
    margin-right: 50px;
    background-color: lavender;
    padding: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    text-align: center;
}

#prostokatM {
    flex: 1;
    margin-right: 100px;
    background-color: mintcream;
    padding: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#kontener {
    display: flex;
    height: 100%;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

    #buttonContainer .btn {
        margin: 30px; /*  margines między przyciskami */
    }




